.primary-navigation > div > .menu-wrapper > li > .sub-menu:before {
  content: none;
  display: block;
  position: absolute;
  width: 0;
  top: -10px;
  left: 25px;
  border-style: solid;
  border-color: #28303d transparent;
  border-width: 0 7px 10px 7px;
}

.primary-navigation > div > .menu-wrapper > li > .sub-menu:after {
  content: none;
  display: block;
  position: absolute;
  width: 0;
  top: -10px;
  left: 25px;
  border-style: solid;
  border-color: #28303d transparent;
  border-width: 0 7px 10px 7px;
}
