img {
  height: auto;
  width: 100%;
  display: block;
}

#filtrering {
  margin-bottom: 2rem;
  font-size: 0;
}

#filtrering p {
  margin-bottom: 10px;
  font-size: 14px;
}

#oversigt {
  background-color: #f8f4ef;
  padding: 1rem;
}

article {
  margin: 2rem;
}

article p {
  margin: 0;
}

article h5 {
  margin-bottom: 0px;
  margin-top: 5px;
}

.article_text {
  margin-bottom: 4rem;
}

#filtrering button {
  background-color: white;
  border: solid black 1px;
  color: black;
  width: 150px;
  margin: 0.2rem;
  padding: 0;
  border-radius: 0;
  font-weight: lighter;
}
/* .wp-block-columns {
  padding: 1vw;
} */
.wp-block-column.has-background {
  padding: 2vw;
}
/* .nv-content-wrap > div:nth-child(2) > div:nth-child(1) {
  padding: 2.5rem;
} */
p.has-text-align-left:nth-child(2) {
  display: flex;
  justify-content: right;
}
/* div.wp-block-columns:nth-child(3) > div:nth-child(1) {
  padding: 1rem;
}
div.wp-block-columns:nth-child(3) > div:nth-child(1) > h2:nth-child(1) {
  padding: 2rem;
} */
h1 {
  font-family: Bebas Neue;
}

.wp-image-364,
.wp-image-371,
.wp-image-370 {
  height: 60px;
  width: auto;
}

.wp-image-388,
.wp-image-391 {
  height: 40px;
  width: auto;
}
.wp-image-393 {
  height: 50px;
  width: auto;
}
.wp-image-390 {
  height: 25px;
  width: auto;
}
.wp-image-400 {
  width: 180px;
  height: auto;
}

/*SINGLEVIEW*/

.luk {
  display: none;
}

.single_container img {
  margin-bottom: 3rem;
}

.text_wrapper {
  background-color: #f8f4ef;
  padding: 2rem;
}

.button_wrapper {
  text-align: center;
}

.button_wrapper button {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0;
  background-color: #164153;
  margin-top: 3rem;
}

/*WEB VERSIONEN*/

@media (min-width: 700px) {
  .info_banner {
    background-color: black;
  }

  .site-main {
    padding: 1rem;
  }

  #primary {
    display: grid;
    grid-template-columns: auto minmax(0, 1200px) auto;
    align-items: center;
  }

  .site-main {
    grid-column: 2/3;
  }

  .produkt_wrapper {
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    grid-gap: 1rem;
  }

  #filtrering {
    margin-bottom: 5rem;
    font-size: 0;
  }

  .filter {
    margin: 0.2rem;
  }

  #oversigt {
    background-color: #f8f4ef;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  #oversigt article {
    /*display: flex;
    flex-wrap: wrap;*/

    margin: 0.5rem;
    padding: 1rem;
    cursor: pointer;
  }
  #oversigt img {
    object-fit: cover;
    width: 400px;
    height: 400px;
  }

  .single_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .single_text {
    padding: 1rem;
  }

  .button_wrapper {
    text-align: end;
  }

  .button_wrapper button {
    width: 40%;
  }
}
